.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../images/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}
body {
    width:780px;
    line-height: 1.2;
    font-family:tahoma;
    font-size:12px;
}
.left { float:left; }
.right { float:right; }
a { color:blue; text-decoration:none; }
a:hover { background-color:blue; color:red; text-decoration:none; }
#header { 
    height:100px;  
    background-image:url('../img/logo780.gif');
}
#footer {
    background-color:rgb(255,224,128);
}
#footer .browser { font-weight:bold; }
#footer .resolution { font-weight:bold; }
#nav { background-color:rgb(255,223,151); height:28px; padding:1px; }
#nav ul { list-style: none; }
#nav ul li { float:left; list-style-type:none; margin-right:1px; }
.nav li a, .nav li div { display:block; padding:8px 7px; }
.nav li a { background-color:rgb(255,240,144); font-family:arial; }
.nav li a:hover { background-color:blue; }
#user { float:right; text-align:right; background-color:green; }
#content {
    min-height:50px;
    padding:10px;
    clear:both;
    background-color:rgb(255,224,128);
}
#content table.news { background-color:#AA0000; position:relative; top:20px; }
table.news td { background-color:white; }
td.news_nick { text-align:center; width:100px; }
#content .news {
    margin-left:auto;
    margin-right:auto;
    width:100%;
    overflow:auto;
    background-color:#fff;
    margin-bottom:10px
}
#content div.news div {
    height:100%;
    float:left;
    width:90%;
}
#content div.news div.date, #content div.news div.nick {
}
#content div.news div.nick, #content div.news div.avatar{
    width:10%;
}
.date {
    font-weight:bold;
    color:#555;
}
div.news div.text p {
    margin-top:10px;
}
fieldset ul {
    list-style:none;
}
fieldset ul li {
    padding-bottom: 5px;
    vertical-align: middle;
}
fieldset ul li label.form_title {
    width:100px;
    float:left;
    margin-top:7px;
}
fieldset ul li img {
    vertical-align: middle;
}
fieldset ul li select {
    vertical-align: middle;
}
fieldset ul li input {
    vertical-align: middle;
}
fieldset ul li label {
    display: inline;
}
fieldset ul li label.inner_label { margin-right:5px; }
fieldset {
    border:1px solid red;
    padding: 10px;
}
fieldset.card_search {
}
fieldset input[type=text], fieldset input[type=password],
fieldset input[type=submit] {
    width:70px;
    border:1px solid rgb(255,94,0);
}
fieldset input[type=submit] {
    width:74px;
    background-color: rgb(255,217,0);
}
fieldset input[type=checkbox] {
}

fieldset legend {
    font-size:80%;
}
input[type=text].card_text {
    width:300px;
}
input[type=text].card_name {
    width:200px;
}
table.card_results thead.card_result_columns {
    
}
table.card_results {
    margin-top:10px;
    margin-bottom: 15px;
}
table.card_results thead.card_result_columns th,
table.card_results td, table.card_results th {
    padding:5px 2px;
    margin:0px 10px;
    border:1px solid rgb(255,224,128);
    vertical-align:middle;
}
div.card_js {
    font-size: 14px;
    line-height: 18px;
}
div.card_js img {
    vertical-align: middle;
}
div.card_js.character,
table.card_results tbody tr.character td
{
    background-color:rgb(200,163,197);
}
div.card_js.event,
table.card_results tbody tr.event td
{
    background-color:rgb(255,160,128);
}
div.card_js.area,
table.card_results tbody tr.area td
{
    background-color: #99ee99;
}
div.card_js.item,
table.card_results tbody tr.item td
{
    background-color: #eeee99;
}
tr.card_result_columns th {
    color: white;
    background-color:orange;
}
thead.card_result_columns {
    padding:1px;
}
.card_results td.ex,
.card_results td.ap,
.card_results td.dp,
.card_results td.sp
{
    text-align: center;
}
th.card_id, col.card_id { width:60px; }
th.card_name, col.card_name { width:200px; }
th.card_cost, col.card_cost { width:120px; max-width:120px; }
th.card_ex, col.card_ex,
th.card_ap, col.card_ap,
th.card_dp, col.card_dp,
th.card_sp, col.card_sp { width:15px; }
th.card_spots, col.card_spots { width:30px; }
th.card_sets, col.card_sets { width:100px; }
th.card_element, col.card_element { width:100px; max-width:100px; }

thead.card_result_columns th.card_cost img { margin:0px; padding:0px; }

div.register_error { font-size:50%; color:red; }
span.nick { display:inline; margin:0px; padding:0px; font-weight:bold; }

span.target {
    color: red;
}
span.cost {
    color: blue;
}
span.abilityName {
    font-weight:bold;
}
.card_js {
    width:700px;
    min-height:260px;
    padding: 10px;
    background-color:white;
    border: 1px solid black;
    position:absolute;
    left:0px;
    right:0px;
}
strong.ex {
    font-size:100%;
}
span.ex {
    font-size:100%;
}
.card_js_image {
    float:left;
}
.card_js_details {
    text-align:middle;
}
.card_js_details .card_js_spots {
    font-size: 12px;
    vertical-align: top;
    line-height: 1;
}
.card_js_details .card_js_spots,
.card_js_details .card_js_ap_dp_sp {
}
.card_js_details .card_js_detail_left {
    width:40%;
    float:left;
}
.card_js_details .card_js_detail_full {
    width:70%;
    float:left;
}
.card_name_jap {
    font-style:italic;
}
span.jap {
    font-size:12px;
}
div.ap, div.dp, div.sp { padding:2px 6px; font-size:140%; font-weight:bold; }
div.ap { background-color:rgb(255,112,112); }
div.dp { background-color:rgb(128,128,255); }
div.sp { background-color:rgb(255,240,128); }
div.card_spot_row { padding:0px; margin:0px; height:10px; width:30px; }
div.card_spot_row img { padding:0px; margin:0px; height:10px; width:10px; float:left; }
div.card_js_spots {
    float:left;
    clear:right;
}
p.ability_name {
    margin-bottom:2px;
}
span.conversion {
    color: orange;
}
table.queryInfoTable {
    border: 1px solid black;
    background-color: white;
    border-collapse: collapse;
}
table.queryInfoTable td,
table.queryInfoTable th
{
    border: 1px solid black;
    padding: 5px;
}
table.queryInfoTable th.no {
    width: 50px;
}
table.queryInfoTable th.time {
    width: 200px;
}
.basicSearchForm {
    margin-bottom: 15px;
}
a.current {
    font-weight: bold;
}
.card_js_image {
    min-height: 1px;
    width: 180px;
}
.card_js_details {
    margin-left: 190px;
}
.card_js_detail_full {
    padding: 10px;
    background-color: white;
}
.card_js_detail_full {
    background-color: rgba(255, 255, 255, .7);
}
span.basicAbility {
    color: #268833;
}
span.costText {
    color: #3c78ae;
}
td.cardName img {
    vertical-align: middle;
}
.basic_ability_name .basicAbility {
    margin-right: 5px;
}
.pagination li {
    margin-left: 2px;
    margin-right: 2px;
    display: inline-block;
}
strong {
    font-weight: bold;
}